<div class="paddingContainer">
    <div class="menu menu-bg">
        <div class="menuSelect">
            <button class="topLeftMenuItem menuButton gadgets" (click)="goToView()"><img class="image"
                    src="hadesHeraDuo.png"> 
                    <br/>
                <span class="tHeading">Meals</span>
            </button>
            <button class="topRightMenuItem menuButton workshop" (click)="goToView()"><img class="image"
                    src="apolloHadesDuo.png"> 
                    <br/>
                <span class="tHeading">Foundry</span>
            </button>
                <button class="bottomRightMenuItem menuButton codex" (click)="goToView()"><img class="image"
                    src="aresAthenaDuo.svg"> 
                    <br/>
                <span class="tHeading">Codex</span>                
            </button>
            <br />
            <button class="leftMenuItem menuButton voltros" (click)="goToView()"><img class="image"
                    src="dionysusArtemisDuo.png"> 
                    <br/>
                <span class="tHeading">Voltros</span>
            </button>
                <button class="rightMenuItem menuButton battles" (click)="goToView()"><img class="image"
                    src="aphroditeHermesDuo.svg"> 
                    <br/>
                <span class="tHeading">Battles</span>
            </button>
            <br />
            <button class="bottomLeftMenuItem menuButton echoPrisms" (click)="goToView()"><img class="image"
                    src="heraPoseidonDuo.svg"> 
                    <br/>
                <span class="tHeading">Echo Prisms</span>
            </button>
                
        </div>
    </div>
</div>