<div class="paddingContainer">
    <div class="menu menu-bg">
        @if (lookupService.componentView === componentViewEnum.Main) {      
        <div class="menuSelect">
            <button class="topLeftMenuItem menuButton gadgets" (click)="goToView(componentViewEnum.Meals)"><img class="image"
                    src="defaultMeal.png"> 
                    <br/>
                <span class="tHeading">Meals</span>
            </button>
            <button class="topRightMenuItem menuButton workshop" (click)="goToView(componentViewEnum.Groceries)"><img class="image"
                    src="groceries.png"> 
                    <br/>
                <span class="tHeading">Groceries</span>
            </button>
                <!--<button class="bottomRightMenuItem menuButton codex" (click)="goToView(componentViewEnum.Meals)"><img class="image"
                    src="defaultMeal.png"> 
                    <br/>
                <span class="tHeading">??</span>                
            </button>            -->
            <button class="leftMenuItem menuButton voltros" (click)="goToView(componentViewEnum.Ingredients)"><img class="image"
                    src="ingredients.png"> 
                    <br/>
                <span class="tHeading">Ingredients</span>
            </button>
                <button class="rightMenuItem menuButton battles" (click)="goToView(componentViewEnum.WhatToCook)"><img class="image"
                    src="questionMark.png"> 
                    <br/>
                <span class="tHeading">What Can I Cook?</span>
            </button>            
            <button class="bottomLeftMenuItem menuButton echoPrisms" (click)="goToView(componentViewEnum.Weekly)"><img class="image"
                    src="calendar.png"> 
                    <br/>
                <span class="tHeading">Weekly Plan</span>
            </button>                
        </div>
    }

        @if (lookupService.componentView === componentViewEnum.Meals) {      
            <app-meals-view></app-meals-view>
        }  
        @if (lookupService.componentView === componentViewEnum.Groceries) {      
            <app-groceries-view></app-groceries-view>
        }  
        <!--@if (lookupService.componentView === componentViewEnum.Ingredients) {      
            <app-ingredients-view></app-ingredients-view>
        }  
        @if (lookupService.componentView === componentViewEnum.Weekly) {      
            <app-meals-view></app-meals-view>
        }  
        @if (lookupService.componentView === componentViewEnum.WhatToCook) {      
            <app-meals-view></app-meals-view>
    }  -->
        
    @if (showBackButton()) {
        <div class="return">
            <button class="buttonStyled backButton" (click)="goBack()">X</button>
        </div>
    }
    </div>
</div>