.individualMealView {
    margin: .5rem;
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 1fr 1fr;
    gap: 1rem;
    justify-content: stretch;
    grid-template-areas:
        "title title"
        "options options"
        "ingredients image"
        "description description";
}

.title {
    grid-area: title;
}

.options {
    grid-area: options;
}

.ingredients {
    grid-area: ingredients;
    margin: auto 0;
}

.image {
    grid-area: image;     
    width: 100%;
    aspect-ratio: 1 / 1;
    margin: auto;
}

.description {
    grid-area: description;
}