@if (selectedMeal === undefined) {
<div class="mealsView">
    <div class="headerRow">
        <span class="sideSpaced"></span>
        <h2 class="pageHeader textCentered">
            Meals
        </h2>
        <button class="sideSpaced addButton buttonStyled" (click)="goToAddMeal()">+</button>
    </div>
    <div class="filters">
        Filters
    </div>
    <div class="list">
        <table>
            @for (cells of mealRows; track $index) {
            <tr>
                @for (c of cells; track $index; let i = $index) {
                <td class="item tHeading">
                    <div class="mealList" (click)="goToMealPage(c)">
                        <div class="verticalFlex">
                            <img class="image" [src]="getMealImage(c)">
                            <div class="title tHeading">
                                {{ c.name.toLowerCase() }}
                            </div>
                        </div>
                    </div>
                </td>
                }
            </tr>
            }
        </table>
    </div>
</div>
}
@else {
<app-individual-meal-view [selectedMeal]="selectedMeal"></app-individual-meal-view>
}